@charset "UTF-8";
body {
  background-color: #ffffff;
  color: #28292f;
  letter-spacing: 0.01em;
  font-family: Open Sans;
}

.container {
  max-width: 1520px;
  padding-left: 40px;
  padding-right: 40px;
  margin-left: auto;
  margin-right: auto;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
  font-family: Open Sans;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 18px;
  width: 166px;
  height: 40px;
  vertical-align: middle;
  margin-top: 25px;
  background-color: #fff;
  border: 1px solid #efeded;
  border-radius: 2px;
}

button:focus,
button:hover {
  color: #ff6869;
}

.nav-list, .help-list, .user-navigation-list, .market-navigate-list, .idea-list, .best-deal-list, .direction-list .item {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.notification .link, .main-nav .link, .nav-list .link, .user-menu .link, .market-navigate-list .link, .idea-list .link, .direction-list .link {
  text-decoration: none;
}

/* оформляет хедер */
.page-header {
  min-height: 60px;
  margin-bottom: 0px;
  padding-left: 0;
  padding-right: 0;
}

.page-header .container {
  display: block;
  height: 248px;
}

.notification {
  background-color: #ff6869;
  height: 40px;
  text-align: center;
  color: #ffffff;
  padding: 11px 0 11px 0;
  margin-bottom: 15px;
}

.notification span {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.01em;
  margin: 0;
}

.notification span:not(:last-child) {
  margin-right: 15px;
}

.notification svg {
  margin-left: 5px;
  vertical-align: middle;
}

.notification .link {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.01em;
  margin: 0;
  color: #ffffff;
}

.notification .link:hover,
.notification .link:focus {
  color: #28292f;
}

.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-decoration: none;
  border-bottom: 1px solid #efeded;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 16px;
}

.main-nav .link {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #28292f;
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav-list .item:not(:last-child) {
  margin-right: 31px;
}

.help-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.help-list .item:not(:last-child) {
  margin-right: 24px;
}

.help-list svg {
  margin-left: 5px;
  vertical-align: middle;
}

.user-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 50px;
  padding-left: 40px;
  padding-right: 40px;
}

.user-menu .link {
  color: #28292f;
}

.user-menu svg {
  margin-right: 5px;
  vertical-align: middle;
}

.user-menu input {
  background-color: transparent;
  border: 0px solid;
}

.user-navigation-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.user-navigation-list .link {
  position: relative;
}

.user-navigation-list .link .user-nav-icon {
  position: absolute;
  top: -35px;
  left: 30%;
}

.user-navigation-list .item:not(:last-child) {
  margin-right: 35px;
}

.market-navigate {
  margin-top: 25px;
}

.market-navigate-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 15px;
  padding-left: 40px;
  padding-right: 40px;
  font-family: Prata;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.01em;
}

.market-navigate-list .link {
  color: #28292f;
}

.market-navigate-list .item:not(:first-child) {
  padding-left: 20px;
}

.market-navigate-list .item:not(:last-child) {
  border-right: 1px solid #efeded;
  padding-right: 20px;
}

.link:hover,
.link:focus {
  color: #ff6869;
}

.hero {
  margin-bottom: 50px;
}

.hero-bg {
  max-width: 1360px;
  height: 470px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(../img/main_banner.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  margin-bottom: 120px;
}

.hero-sell {
  width: 385px;
  height: 290px;
  background-color: #fff;
  position: absolute;
  left: 60px;
  top: 95px;
  padding: 40px;
  color: #28292f;
  font-style: normal;
  font-weight: normal;
}

.hero-sell h1 {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  margin: 0;
  margin-bottom: 10px;
}

.hero-sell h2 {
  font-style: normal;
  font-weight: normal;
  font-family: Prata;
  font-size: 32px;
  line-height: 38px;
  margin: 0;
  margin-bottom: 25px;
}

.hero-sell span {
  font-family: Open Sans;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.01em;
  margin: 0;
}

.hero-sell button {
  font-family: Open Sans;
  text-transform: uppercase;
  width: 166px;
  height: 40px;
  display: block;
  margin-top: 25px;
  background-color: #fff;
  border: 1px solid #efeded;
  border-radius: 2px;
}

.idea-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.idea-list .link {
  font-family: Prata;
  color: #858791;
}

.idea-list .item:not(:first-child) {
  padding-left: 20px;
}

.idea-list .sqad-icon {
  color: currentColor;
  margin-left: 20px;
  vertical-align: middle;
}

.idea-list .link:hover,
.idea-list .link:focus {
  color: black;
}

.best-deal {
  margin-bottom: 130px;
}

.best-deal-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.best-deal-list .item {
  width: 240px;
  padding-bottom: 31px;
}

.best-deal-list .item:not(:last-child) {
  margin-right: 40px;
}

.best-deal-list img {
  margin-bottom: 15px;
  width: 240px;
}

.best-deal-list span {
  display: block;
  color: #28292f;
  text-align: center;
  font-style: normal;
  font-weight: normal;
  margin-left: auto;
  margin-right: auto;
}

.best-deal-list .deal-description {
  font-family: Open Sans;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 15px;
}

.best-deal-list .price {
  font-family: Prata;
  font-size: 20px;
  line-height: 26px;
}

.best-deal-list .old-price {
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.01em;
  text-decoration: line-through;
  color: #a9a9a9;
}

.about-us {
  background-color: #f2efec;
  height: 1200px;
  padding: 110px 171px 110px 171px;
  position: relative;
  margin-bottom: 406px;
}

.about-us-upper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 100px;
}

.about-us-description {
  width: 437px;
  padding-top: 83px;
  margin-right: 262px;
}

.about-us-description h1 {
  font-family: Prata;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 38px;
  color: #28292f;
  margin: 0;
}

.about-us-description h1 span {
  border-top: 1px solid black;
  padding-top: 83px;
}

.direction-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 402px;
  height: 264px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-left: 0;
}

.direction-list .item {
  margin-right: 85px;
  display: inline;
  width: 77px;
  text-align: center;
}

.direction-list .item:nth-child(3n) {
  margin-right: 0;
}

.direction-list .item:nth-child(-n + 3) {
  margin-bottom: 60px;
}

.direction-list .link {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  color: #28292f;
  text-align: center;
  letter-spacing: 0.01em;
  text-transform: uppercase;
}

.direction-list .direction-icon {
  margin-bottom: 15px;
  fill: currentColor;
}

.direction-list .link:hover,
.direction-list .link:focus {
  color: #ff6869;
}

.about-us-middle {
  max-width: 1104px;
  height: 460px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(../img/green_bed.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  margin-bottom: 10px;
}

.about-us-inner {
  width: 540px;
  height: 216px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 30px 80px 35px 80px;
  color: #28292f;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-us-inner h1 {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 10px;
}

.about-us-inner h2 {
  font-family: Prata;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 0.01em;
  margin: 0;
}

.about-us-down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
}

.about-us-down .left,
.right {
  width: 542px;
  height: 520px;
}

.about-us-down .left {
  margin-right: 14px;
  background-image: url(../img/categories_2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}

.about-us-down .right {
  margin-right: 10px;
  background-image: url(../img/categories_3.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}

.inner {
  width: 397px;
  height: 206px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 30px 50px 35px 50px;
  color: #28292f;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.inner h1 {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 10px;
}

.inner h2 {
  font-family: Prata;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 0.01em;
  margin: 0;
}

.personal-offer {
  max-width: 1360px;
  height: 500px;
  background-color: #aeece2;
  margin-left: auto;
  margin-right: auto;
  padding: 78px 776px 79px 214px;
  position: relative;
  margin-bottom: 130px;
}

.personal-offer_content {
  width: 370px;
  height: 345px;
  text-align: center;
}

.personal-offer_content h1 {
  font-family: Prata;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 46px;
  margin-top: 25px;
  margin-bottom: 0;
}

.personal-offer_content span {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  margin-top: 20px;
  display: block;
}

.personal-offer_content button {
  margin-top: 30px;
  background-color: #ff6869;
  color: white;
}

.personal-offer_content button:hover,
.personal-offer_content button:focus {
  background-color: white;
  color: #ff6869;
}

.personal-offer_image {
  position: absolute;
  top: 0;
  right: 10%;
}

.blog {
  width: 1104px;
  height: 630px;
  margin-left: auto;
  margin-right: auto;
}

.blog-title {
  text-align: center;
  font-family: Prata;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 38px;
}

.blog-title span {
  border-top: 1px solid black;
  padding-top: 30px;
}

.main-news {
  width: 542px;
  height: 500px;
  background-color: #f2efec;
  display: block;
  margin-right: 20px;
}

.main-news-content {
  padding: 30px 31px 40px 35px;
}

.news-date {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.01em;
  margin: 0;
  margin-bottom: 10px;
}

.news-description {
  font-family: Prata;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 38px;
}
/*# sourceMappingURL=main.css.map */