.about-us {
  background-color: #f2efec;
  min-width: 1104px;
  height: 1200px;

  position: relative;
  margin-bottom: 406px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 110px;
  .button {
    @extend %button;
  }
}

.about-us-upper {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}

.about-us-description {
  width: 437px;
  height: 263px;
  margin-right: 262px;

  h1 {
    font-family: Prata;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 38px;
    color: #28292f;
    margin: 0;
  }
  .border {
    display: block;
    margin-bottom: 83px;
    width: 80px;
    border-top: 1px solid black;
  }
}

.direction-list {
  display: flex;
  width: 402px;
  height: 264px;
  flex-wrap: wrap;
  padding-left: 0;

  .item {
    @extend %list;
    margin-right: 85px;

    display: inline;
    width: 77px;
    text-align: center;
  }
  .item:nth-child(3n) {
    margin-right: 0;
  }
  .item:nth-child(-n + 3) {
    margin-bottom: 60px;
  }

  .link {
    @extend %link;

    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    color: $primary-color;
    text-align: center;
    letter-spacing: 0.01em;
    text-transform: uppercase;
  }

  .direction-icon {
    margin-bottom: 15px;
    fill: currentColor;
  }
  .link:hover,
  .link:focus {
    color: $accent-color;
  }
}

.about-us-middle {
  max-width: 1104px;
  height: 460px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(../img/green_bed.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  margin-bottom: 20px;
}

.about-us-inner {
  width: 540px;
  height: 216px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 30px 80px 35px 80px;

  color: #28292f;

  text-align: center;
  align-items: center;

  h1 {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;

    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 10px;
  }

  h2 {
    font-family: Prata;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 30px;

    letter-spacing: 0.01em;
    margin: 0;
  }
}

.about-us-down {
  display: flex;
  justify-content: center;
}

.about-us-down .left,
.right {
  width: 542px;
  height: 520px;
}

.about-us-down .left {
  margin-right: 20px;

  background-image: url(../img/categories_2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}

.about-us-down .right {
  background-image: url(../img/categories_3.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}

.inner {
  width: 397px;
  height: 206px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 30px 50px 35px 50px;

  color: #28292f;

  text-align: center;
  align-items: center;

  h1 {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;

    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 10px;
  }

  h2 {
    font-family: Prata;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 30px;

    letter-spacing: 0.01em;
    margin: 0;
  }
}
