.about-us {
  background-color: #f2efec;

  height: 1200px;

  position: relative;
  margin-bottom: 406px;
  margin-left: auto;
  margin-right: auto;

  padding-top: 110px;

  .button {
    @extend %button;
  }
  @media screen and (max-width: 839px) {
    padding-left: 15px;
    padding-right: 15px;
    height: 1680px;
  }
}

.about-us-upper {
  max-width: 1104px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
  @media screen and (max-width: 839px) {
    display: block;
  }
}

.about-us-description {
  max-width: 437px;
  height: auto;
  // margin-right: 262px;
  @media screen and (max-width: $desktop) {
    margin-right: auto;
    margin-left: auto;
  }
  h1 {
    @extend %secondary-text;
    font-size: 32px;
    line-height: 38px;
    color: #28292f;
    margin: 0;
    @media screen and (max-width: $desktop) {
      font-size: 24px;
      line-height: 30px;
      margin-bottom: 30px;
    }
  }
  .border {
    display: block;
    margin-bottom: 83px;
    width: 80px;
    border-top: 1px solid black;
    @media screen and (max-width: $desktop) {
      margin-bottom: 30px;
    }
  }
}

.direction-list {
  display: flex;
  max-width: 402px;
  height: auto;
  flex-wrap: wrap;
  padding-left: 0;
  @media screen and (max-width: $desktop) {
    margin-right: auto;
    margin-left: auto;
  }

  .item {
    @extend %list;
    display: inline;
    text-align: center;
    width: calc((100% - 2 * 85px) / 3);
    margin-right: 85px;
    margin-bottom: 60px;
    &:nth-child(3n) {
      margin-right: 0;
    }
    &:nth-last-child(-n + 3) {
      margin-bottom: 0;
    }
  }

  .link {
    @extend %link;
    @extend %main-text;

    font-size: 12px;
    line-height: 18px;
    color: $primary-color;
    text-align: center;
    letter-spacing: 0.01em;
    text-transform: uppercase;
  }

  .direction-icon {
    margin-bottom: 15px;
    fill: currentColor;
  }
  .link:hover,
  .link:focus {
    color: $accent-color;
  }
}

.about-us-middle {
  max-width: 1104px;
  width: 100%;
  height: 460px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(../img/green_bed.jpeg);
  @extend %bg-image;

  position: relative;
  margin-bottom: 20px;
  @media screen and (max-width: $desktop) {
    min-width: 355px;
    height: 420px;
  }
}

.about-us-inner {
  width: 540px;
  height: 216px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 30px 80px 35px 80px;

  color: $primary-color;

  text-align: center;
  align-items: center;
  @media screen and (max-width: $desktop) {
    width: 315px;
    height: 201px;
    padding: 30px;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -75%);
  }

  h1 {
    @extend %main-text;
    font-size: 12px;
    line-height: 16px;

    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 10px;
  }

  h2 {
    @extend %secondary-text;
    font-size: 24px;
    line-height: 30px;

    letter-spacing: 0.01em;
    margin: 0;
  }
}

.about-us-down {
  display: flex;
  justify-content: center;
  @media screen and (max-width: 839px) {
    display: block;
  }
}

.about-us-down .left,
.right {
  max-width: 542px;
  width: 100%;
  height: 520px;

  @media screen and (max-width: $desktop) {
    min-width: 355px;
    height: 420px;
  }
}

.about-us-down .left {
  margin-right: 20px;

  background-image: url(../img/categories_2.jpg);
  @extend %bg-image;
  position: relative;

  @media screen and (max-width: $desktop) {
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
  }
}

.about-us-down .right {
  background-image: url(../img/categories_3.jpeg);
  @extend %bg-image;
  position: relative;
  @media screen and (max-width: $desktop) {
    margin-left: auto;
    margin-right: auto;
  }
}

.inner {
  width: 397px;
  height: 206px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 30px 50px 35px 50px;
  color: $primary-color;
  text-align: center;
  align-items: center;

  h1 {
    @extend %main-text;
    font-size: 12px;
    line-height: 16px;

    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 10px;
  }

  h2 {
    @extend %secondary-text;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0.01em;
    margin: 0;
  }

  @media screen and (max-width: $desktop) {
    width: 315px;
    height: 201px;
    padding: 30px;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -75%);
  }
}
