.advantage {
  margin-bottom: 150px;
}
.advantage-list {
  display: flex;
  @extend %list;
  justify-content: center;
}

.advantage .item {
  display: block;
  width: 220px;
  text-align: center;

  .advantage-icon {
    stroke: rgb(0, 0, 0);
    fill: rgba(255, 255, 255, 0);
  }
  .link {
    @extend %link;
    @extend %main-text;
    font-size: 12px;
    line-height: 18px;
    color: $primary-color;
    letter-spacing: 0.01em;
  }
  .link:hover,
  .link:focus {
    color: $accent-color;
  }

  .title {
    @extend %secondary-text;
    font-size: 24px;
    line-height: 30px;

    text-align: center;
  }
  .item:not(:last-child) {
    margin-right: 45px;
  }
}
