.page-footer {
  background-color: #f2efec;
  padding-bottom: 25px;
}

.footer-banner {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
  padding-top: 80px;
}

.banner-left {
  width: 100%;
  max-width: 542px;
  height: 245px;
  @extend %bg-image;
  background-image: url(../img/footer_img_blog.jpeg);
  margin-right: 20px;

  .title {
    @extend %secondary-text;
    font-size: 32px;
    line-height: 38px;
    color: #375955;

    margin: 72px auto 15px 85px;
  }

  .link {
    @extend %link;
    color: #375955;
    margin-left: 85px;

    .blog-arrow {
      margin-left: 5px;
      vertical-align: middle;
      color: #375955;
    }
  }
  .link:hover,
  .link:focus {
    cursor: pointer;
    color: $accent-color;
  }
}

.banner-right {
  width: 100%;
  max-width: 542px;
  height: 245px;
  @extend %bg-image;
  background-image: url(../img/footer_img_subscr.jpeg);
  margin-right: 20px;

  .title {
    @extend %secondary-text;
    font-size: 24px;
    line-height: 30px;
    color: $primary-color;

    margin: 50px auto 10px 50px;
  }

  .news-deal {
    display: block;
    margin: 0 43px 25px 50px;

    @extend %main-text;
    font-size: 14px;
    line-height: 20px;

    .link {
      @extend %link;
      color: $primary-color;
    }
  }
  .footer-form {
    display: flex;
    justify-content: center;
    margin-left: 40px;
    margin-right: 50px;

    .input {
      width: 100%;
      height: 40px;

      padding: 0;
      padding-left: 20px;
      background-color: #a9a9a96c;
      border: 1px solid $accent-color;
      border-right: 0;
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
      opacity: 0.5;
      color: #28292f;

      @extend %main-text;
      font-size: 12px;
      line-height: 18px;

      letter-spacing: 0.01em;
    }

    .button {
      margin: 0;
      margin-left: -1px;
      border: 0;
      padding: 0;
      background-color: $accent-color;
      color: white;

      border: 1px solid $accent-color;

      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
    }
    .button:hover,
    .button:focus {
      background-color: #a9a9a96c;
      color: $accent-color;
      opacity: 0.5;
    }
  }
}

.footer-contact {
  display: flex;
  justify-content: center;
  margin-bottom: 120px;
}

.hotLine {
  display: block;
  border-right: 1px solid#ac9e9e;
  padding-right: 50px;

  .title {
    @extend %main-text;
    font-size: 12px;
    line-height: 18px;

    letter-spacing: 0.01em;

    color: #a9a9a9;
    margin-bottom: 2px;
  }

  .link {
    display: block;
    @extend %link;
    @extend %main-text;
    font-family: Alice;

    font-size: 32px;
    line-height: 32px;
    color: #a9a9a9;
    margin-bottom: 54px;
  }
  .timeTable {
    text-align: left;
    font-family: Open Sans;
    font-style: normal;
    font-size: 12px;
    line-height: 18px;
    color: #a9a9a9;

    letter-spacing: 0.01em;

    td {
      font-weight: normal;
    }
  }
}

.footer-menu {
  margin-left: 50px;

  text-align: left;
  @extend %main-text;
  font-size: 12px;
  line-height: 18px;

  letter-spacing: 0.01em;

  td {
    width: 132px;
    font-weight: normal;
    height: 20px;
    padding-bottom: 20px;
  }
  .withOutPudding {
    padding: 0;
  }
  .link {
    @extend %link;
    color: #a9a9a9;
  }

  .link:hover,
  .link:focus {
    color: $accent-color;
  }
}

.adress {
  margin-left: 80px;
  max-width: 200px;
}

.city-adress {
  @extend %main-text;
  font-size: 12px;
  line-height: 18px;

  letter-spacing: 0.01em;
  color: #a9a9a9;

  margin-bottom: 20px;
}
.e-mail {
  display: block;
  @extend %main-text;
  font-size: 12px;
  line-height: 18px;
  @extend %link;
  color: #a9a9a9;
  margin-bottom: 100px;
}
.e-mail:hover,
.e-mail:focus {
  color: $accent-color;
}
.soc-link {
  display: flex;
  @extend %list;

  .item:not(:last-child) {
    margin-right: 40px;
  }

  .link {
    fill: #a9a9a9;
  }
  .link:hover,
  .link:focus {
    fill: $accent-color;
  }
}

.pay-systems {
  text-align: right;
  @extend %list;
  margin-left: 200px;
  .item {
    text-align: right;
  }
  .item:not(:last-child) {
    margin-bottom: 68px;
    margin-right: 0;
  }
  .link {
    fill: #a9a9a9;
  }
  .link:hover,
  .link:focus {
    fill: $accent-color;
  }
}

.footer-developers {
  display: flex;
  justify-content: space-between;
}

.Carreblanc {
  @extend %main-text;
  font-size: 12px;
  line-height: 18px;
  color: #a9a9a9;

  letter-spacing: 0.01em;
}

.Brander {
  @extend %main-text;
  font-family: Rubik;
  font-size: 12px;
  line-height: 16px;
  color: #a9a9a9;

  letter-spacing: 0.01em;
  .link {
    @extend %link;
    font-weight: bold;
    color: #a9a9a9;
  }
  .link:hover,
  .link:focus {
    color: $accent-color;
  }
}
