/* оформляет хедер */

.page-header {
  min-height: 60px;
  margin-bottom: 0px;
  padding-left: 0;
  padding-right: 0;
}
.page-header .container {
  display: block;

  height: 248px;
}

.notification {
  background-color: #ff6869;

  height: 40px;
  text-align: center;
  color: #ffffff;

  padding: 11px 0 11px 0;
  margin-bottom: 15px;

  span {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.01em;
    margin: 0;
  }
  span:not(:last-child) {
    margin-right: 15px;
  }
  svg {
    margin-left: 5px;
    vertical-align: middle;
  }
  .link {
    @extend %link;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.01em;
    margin: 0;
    color: #ffffff;
  }
}
.main-nav {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  border-bottom: 1px solid #efeded;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 16px;

  .link {
    @extend %link;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: #28292f;
  }
}

.nav-list {
  display: flex;
  justify-content: center;
  @extend %list;

  .item:not(:last-child) {
    margin-right: 31px;
  }
  .link {
    @extend %link;
  }
}

.help-list {
  display: flex;
  justify-content: center;
  @extend %list;

  .item:not(:last-child) {
    margin-right: 24px;
  }

  svg {
    margin-left: 5px;
    vertical-align: middle;
  }
}

.user-menu {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  padding-left: 40px;
  padding-right: 40px;
  .link {
    @extend %link;
    color: #28292f;
  }

  svg {
    margin-right: 5px;
    vertical-align: middle;
  }

  input {
    background-color: transparent;
    border: 0px solid;
  }
}

.user-navigation-list {
  display: flex;
  @extend %list;

  .link {
    position: relative;

    .user-nav-icon {
      position: absolute;
      top: -35px;
      left: 30%;
    }
  }

  .item:not(:last-child) {
    margin-right: 35px;
  }
}

.market-navigate {
  margin-top: 25px;
}

.market-navigate-list {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  padding-left: 40px;
  padding-right: 40px;

  font-family: Prata;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;

  letter-spacing: 0.01em;

  @extend %list;
  .link {
    @extend %link;
    color: #28292f;
  }
  .item:not(:first-child) {
    padding-left: 20px;
  }
  .item:not(:last-child) {
    border-right: 1px solid #efeded;
    padding-right: 20px;
  }
}
