/* оформляет хедер */
// .navigate-menu {

// &.is-open {
//   display: block;
//   z-index: 2;
// }

.page-header {
  margin-bottom: 15px;
  padding-left: 0;
  padding-right: 0;
  display: block;
}

.notification {
  background-color: #ff6869;
  width: 100%;
  height: 40px;
  text-align: center;
  color: #ffffff;

  padding: 11px 0 11px 0;
  margin-bottom: 15px;

  span {
    @extend %main-text;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.01em;
    margin: 0;
  }
  span:not(:first-child) {
    margin-right: 15px;
  }
  svg {
    margin-left: 5px;
    vertical-align: middle;
  }
  .link {
    @extend %link;
    @extend %main-text;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.01em;
    margin: 0;
    color: #ffffff;
    display: none;
    @media screen and (min-width: $desktop) {
      display: inline;
    }
  }
  .non-display-mv {
    display: none;
    @media screen and (min-width: $desktop) {
      display: inline;
    }
  }
  .link:hover,
  .link:focus {
    color: $primary-color;
  }
}

.main-nav {
  display: flex;
  justify-content: space-around;
  text-decoration: none;
  border-bottom: 1px solid #efeded;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 16px;

  .link {
    @extend %link;
    @extend %main-text;

    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.01em;

    color: #28292f;
  }
}
.main-nav.desktop {
  @media screen and (max-width: $desktop) {
    display: none;
  }
}

.nav-list {
  display: flex;
  justify-content: center;
  @extend %list;

  .item:not(:last-child) {
    margin-right: 31px;
  }
  .link {
    @extend %link;
  }
}

.help-list {
  display: flex;
  justify-content: center;
  @extend %list;

  .item:not(:last-child) {
    margin-right: 24px;
  }

  svg {
    margin-left: 5px;
    vertical-align: middle;
  }
}

.user-menu {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
  padding-left: 40px;
  padding-right: 40px;
  @media screen and (max-width: $desktop) {
    padding: 0;
  }

  .link {
    @extend %link;
    color: #28292f;
  }

  svg {
    margin-right: 5px;
    vertical-align: middle;
  }

  input {
    background-color: transparent;
    border: 0px solid;
  }

  .form-desktop {
    @media screen and (max-width: $desktop) {
      display: none;
    }
  }
}

.page-header .form-mobile {
  padding-left: 20px;
  padding-bottom: 15px;
  svg {
    margin-right: 5px;
    vertical-align: middle;
  }

  input {
    background-color: transparent;
    border: 0px solid;
  }
  @media screen and (min-width: $desktop) {
    display: none;
  }
}

.link-upper {
  font-weight: 600;
  text-transform: uppercase;
  @extend %link;
  text-align: left;
  @extend %main-text;
  color: $primary-color;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.01em;
}

.user-navigation-list {
  display: flex;
  @extend %list;
  .link {
    margin-top: 5px;
  }
  .item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .item:not(:last-child) {
    margin-right: 35px;
  }
}
.link.desktop {
  @media screen and (max-width: $desktop) {
    display: none;
  }
}
.item.desktop {
  @media screen and (max-width: $desktop) {
    display: none;
  }
}
.market-navigate {
  margin-top: 25px;

  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

.market-navigate-list {
  display: flex;
  justify-content: center;
  position: relative;

  margin-top: 15px;

  padding-left: 40px;
  padding-right: 40px;

  @extend %secondary-text;
  font-size: 14px;
  line-height: 20px;

  letter-spacing: 0.01em;

  @extend %list;
  @media screen and (max-width: $desktop) {
    display: none;
  }
  .link {
    @extend %link;
    color: #28292f;
    display: block;
    text-align: center;
  }

  .item:not(:last-child) {
    margin-right: 15px;
    border-right: 1px solid #efeded;
    padding-right: 15px;
  }

  .link:hover,
  .link:focus {
    color: $accent-color;
  }
}

.backDrop {
  display: flex;
  align-items: flex-start;

  position: absolute;
  left: 0;
  top: 0;
  opacity: 0; //включи
  z-index: -2; // исправь на -2

  width: 100%;
  height: 495px;
  padding: 40px 40px 40px 60px;

  background-color: rgb(255, 255, 255);

  margin: 0;
  border: inherit;

  transform: translateY(1005px);
  transition: transform 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

// раскоментируй
.market-navigate-list .item:hover .backDrop,
.market-navigate-list .item:focus .backDrop {
  opacity: 1;
  transform: translateY(20px);
  cursor: pointer;
  z-index: 2;
  transition-delay: 300ms;
}

.backdrop-list {
  padding: 0;
  &:not(:last-child) {
    margin-right: 83px;
  }

  .link {
    @extend %link;
    text-align: left;
    @extend %main-text;
    font-size: 12px;
    line-height: 18px;
    color: $primary-color;
    letter-spacing: 0.01em;
    margin-bottom: 10px;
  }
  .backdrop-title {
    @extend %main-text;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    margin-bottom: 20px;
  }
}

.backdrop-banner {
  @extend %list;
  .backdrop-img {
    max-width: 300px;
    height: auto;
    position: relative;
  }

  .backdrop-img-inner {
    display: block;
    text-align: center;
    width: 260px;
    height: 90px;
    position: absolute;
    background-color: #fff;
    bottom: 20%;
    right: 0;
    transform: translate(-54%);

    .title {
      @extend %secondary-text;
      font-size: 20px;
      line-height: 26px;
      margin: 20px 0 5px 0;
      text-align: center;
    }
    .link {
      @extend %main-text;
      font-size: 12px;
      line-height: 18px;

      text-align: center;
      letter-spacing: 0.01em;
      text-transform: uppercase;
    }
  }
}

.backdrop-item {
  border: 0;
  padding: 0;
  margin: 0;
  @extend %list;
  text-align: left;
}

.menu-button {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: 0;
  background-color: transparent;
  fill: $primary-color;

  & .close {
    display: none;
  }
  &.is-open .close {
    display: block;
  }
  &.is-open .open {
    display: none;
  }

  @media screen and (min-width: $desktop) {
    display: none;
  }
}
.mobile-menu {
  display: none;

  @media screen and (max-width: $desktop) {
    background-color: $white-color;
    display: none;
    position: absolute;
    left: 50%;
    top: 150px;
    width: 375px;
    transform: translate(-50%);
    text-align: center;
    padding-top: 20px;
    padding-bottom: 25px;

    &.is-open {
      display: block;
      z-index: 2;
    }

    .upper-section {
      display: flex;
      justify-content: space-between;
      padding: 20px;
      margin-bottom: 20px;

      .upper-item .link {
        vertical-align: super;
        text-decoration: none;
        color: $primary-color;
      }
    }
  }
  .mobile-market-navigate-list {
    text-align: left;
    list-style: none;
    color: $primary-color;
    padding: 0;
    .item {
      padding: 15px 25px 15px 20px;
      display: block;
      align-items: center;
    }
    .link {
      text-decoration: none;
    }
    .mobile-icon-svg {
      vertical-align: middle;
    }
    .mobile-icon-svg .arrow {
      margin-left: auto;
    }
    span {
      color: $primary-color;
      margin-left: 15px;
    }
  }
  .down-section {
    background-color: #f2efec;
    display: block;
    text-align: left;
    padding-left: 20px;

    .title {
      @extend %main-text;
      font-size: 12px;
      line-height: 18px;
      color: #a9a9a9;
      padding-top: 40px;
    }
    .link {
      display: block;
      font-family: Alice;
      font-style: normal;
      font-weight: normal;
      font-size: 32px;
      line-height: 32px;

      text-decoration: none;
      color: #a9a9a9;
      margin-bottom: 25px;
    }
    .manager {
      border-bottom: 1px solid #a9a9a9;
      border-top: 1px solid #a9a9a9;
      padding-top: 20px;
      padding-bottom: 20px;
      font-family: open sans;
      font-weight: 600;
      font-size: 12px;
      line-height: 16px;

      text-align: left;
      letter-spacing: 0.01em;
      text-transform: uppercase;
    }
    .mobile-nav-list {
      list-style: none;
      padding: 0;
      border-bottom: 1px solid #a9a9a9;
      .item {
        margin-bottom: 25px;
      }
      .link {
        font-family: Open Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 18px;
      }
    }
    .lang-section {
      display: flex;
      list-style: none;
      padding: 0;
      padding-bottom: 25px;
      color: #a9a9a9;
      .item:not(:last-child) {
        margin-right: 30px;
      }
      .item:first-child {
        border-bottom: 1px solid black;
        padding-bottom: 5px;
      }
    }
  }
}
