/* оформляет хедер */

.page-header {
  margin-bottom: 15px;
  padding-left: 0;
  padding-right: 0;
  display: block;
}

.notification {
  background-color: #ff6869;
  width: auto;
  height: 40px;
  text-align: center;
  color: #ffffff;

  padding: 11px 0 11px 0;
  margin-bottom: 15px;

  span {
    @extend %main-text;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.01em;
    margin: 0;
  }
  span:not(:last-child) {
    margin-right: 15px;
  }
  svg {
    margin-left: 5px;
    vertical-align: middle;
  }
  .link {
    @extend %link;
    @extend %main-text;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.01em;
    margin: 0;
    color: #ffffff;
  }
  .link:hover,
  .link:focus {
    color: $primary-color;
  }
}

.main-nav {
  display: flex;
  justify-content: space-around;
  text-decoration: none;
  border-bottom: 1px solid #efeded;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 16px;

  .link {
    @extend %link;
    @extend %main-text;

    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.01em;

    color: #28292f;
  }
}

.nav-list {
  display: flex;
  justify-content: center;
  @extend %list;

  .item:not(:last-child) {
    margin-right: 31px;
  }
  .link {
    @extend %link;
  }
}

.help-list {
  display: flex;
  justify-content: center;
  @extend %list;

  .item:not(:last-child) {
    margin-right: 24px;
  }

  svg {
    margin-left: 5px;
    vertical-align: middle;
  }
}

.user-menu {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
  padding-left: 40px;
  padding-right: 40px;
  .link {
    @extend %link;
    color: #28292f;
  }

  svg {
    margin-right: 5px;
    vertical-align: middle;
  }

  input {
    background-color: transparent;
    border: 0px solid;
  }
}
.link-upper {
  font-weight: 600;
  text-transform: uppercase;
  @extend %link;
  text-align: left;
  @extend %main-text;
  color: $primary-color;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.01em;
}

.user-navigation-list {
  display: flex;
  @extend %list;

  .link {
    .user-nav-icon {
      position: absolute;
      top: -35px;
      left: 30%;
    }
  }

  .item:not(:last-child) {
    margin-right: 35px;
  }
}

.market-navigate {
  margin-top: 25px;
  position: relative;
}

.market-navigate-list {
  display: flex;
  justify-content: center;

  margin-top: 15px;

  padding-left: 40px;
  padding-right: 40px;

  @extend %secondary-text;
  font-size: 14px;
  line-height: 20px;

  letter-spacing: 0.01em;

  @extend %list;
  .link {
    @extend %link;
    color: #28292f;
    display: block;
    text-align: center;
  }

  .item:not(:last-child) {
    margin-right: 15px;
    border-right: 1px solid #efeded;
    padding-right: 15px;
  }

  .link:hover,
  .link:focus {
    color: $accent-color;
  }
}

.backDrop {
  display: flex;

  position: absolute;

  top: 0;
  left: 2.8%;
  opacity: 0; //включи
  z-index: -2; // исправь на -2

  padding: 40px 40px 40px 60px;
  margin-left: 40px;
  margin-right: 40px;
  align-items: flex-start;

  height: 495px;

  background-color: rgb(255, 255, 255);

  margin: 0;
  border: inherit;

  transform: translateY(1005px);
  transition: transform 150ms cubic-bezier(0.4, 0, 0.2, 1);

  .backdrop-list {
    padding: 0;
    &:not(:last-child) {
      margin-right: 83px;
    }
    .item {
      border: 0;
      padding: 0;
      margin: 0;
      @extend %list;
      text-align: left;
    }
    .link {
      @extend %link;
      text-align: left;
      @extend %main-text;
      font-size: 12px;
      line-height: 18px;
      color: $primary-color;
      letter-spacing: 0.01em;
      margin-bottom: 10px;
    }

    .backdrop-title {
      @extend %main-text;
      font-weight: 600;
      font-size: 12px;
      line-height: 16px;
      letter-spacing: 0.01em;
      text-transform: uppercase;
      margin-bottom: 20px;
    }
  }
  .backdrop-banner {
    @extend %list;
    .backdrop-img {
      max-width: 300px;
      height: auto;
      position: relative;
    }

    .backdrop-img-inner {
      display: block;
      text-align: center;
      width: 260px;
      height: 90px;
      position: absolute;
      background-color: #fff;
      bottom: 20%;
      right: 4.5%;

      .title {
        @extend %secondary-text;
        font-size: 20px;
        line-height: 26px;
        margin: 20px 0 5px 0;
        text-align: center;
      }
      .link {
        @extend %main-text;
        font-size: 12px;
        line-height: 18px;

        text-align: center;
        letter-spacing: 0.01em;
        text-transform: uppercase;
      }
    }
  }
}

// раскоментируй
.market-navigate-list .item:hover .backDrop,
.market-navigate-list .item:focus .backDrop {
  opacity: 1;
  transform: translateY(20px);
  cursor: pointer;
  z-index: 2;
  transition-delay: 300ms;
}
