.insta-deal {
  max-width: 1104px;
  height: 291px;
  margin-bottom: 130px;
}
.insta-deal-title {
  display: block;
  text-align: center;
  font-family: Prata;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 38px;

  margin: 0;
  margin-bottom: 10px;
  text-decoration: none;
  .link {
    color: $primary-color;
    @extend %link;
  }
}
.insta-deal-description {
  display: block;
  text-align: center;
  margin-bottom: 40px;

  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  color: #a9a9a9;

  letter-spacing: 0.01em;
  .link {
    color: $primary-color;
    @extend %link;
  }
}

.insta-deal-list {
  display: flex;
  justify-content: center;
  @extend %list;

  .item {
    width: 187px;
    position: relative;
    overflow: hidden;
  }

  .item:not(:last-child) {
    margin-right: 20px;
  }
}

.insta-button {
  position: absolute;
  top: 0;
  opacity: 0;

  padding: 90px 57px 79px 59px;
  align-items: center;
  width: 100%;
  height: 100%;

  background-color: rgba(255, 255, 255, 0.8);

  margin: 0;
  border: inherit;

  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;

  color: black;
  text-align: center;
  letter-spacing: 0.01em;
  text-transform: uppercase;

  transform: translateY(185px);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.insta-deal-list .item:hover .insta-button,
.insta-deal-list .item:focus .insta-button {
  opacity: 1;
  transform: translateY(0px);
  cursor: pointer;
}

.owl-prev i,
.owl-next i {
  color: black;
}
.owl-prev,
.owl-next {
  position: absolute;
  top: 50%;
  margin-top: -20px;
}
.owl-prev {
  left: -50px;
}
.owl-next {
  right: -30px;
}
