.blog {
  max-width: 1124px;
  height: 630px;
  margin-bottom: 130px;
  @media screen and (max-width: 839px) {
    min-width: 355px;
    height: 940px;
    // margin-bottom: 80px;
    padding-left: 10px;
    padding-right: 10px;
  }
}

.blog-title {
  height: 69px;
  margin: 0;
  margin-bottom: 60px;
  @media screen and (max-width: 839px) {
    margin-bottom: 32px;
  }

  h1 {
    text-align: center;
    @extend %secondary-text;
    font-size: 32px;
    line-height: 38px;
    @media screen and (max-width: 839px) {
      font-size: 24px;
      line-height: 30px;
      margin-bottom: 32px;
    }
  }
  .border {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80px;
    border-top: 1px solid black;
  }
}

.blog-news {
  display: flex;
  @media screen and (max-width: 839px) {
    display: block;
  }
}

.main-news {
  width: 542px;
  height: 500px;
  background-color: #f2efec;
  display: block;
  margin-right: 15px;
  @media screen and (max-width: 839px) {
    width: 100%;
    height: auto;
    margin-bottom: 40px;
    margin-right: 0;
  }
}
.main-news-content {
  height: 170px;
  padding: 30px 31px 40px 35px;
  @media screen and (max-width: 839px) {
    padding: 30px;
    height: 178px;
  }
}
.blog-img {
  max-width: 100%;
}
.news-date {
  @extend %main-text;
  font-size: 12px;
  line-height: 18px;

  letter-spacing: 0.01em;
  margin: 0;
  margin-bottom: 10px;
}
.news-description {
  @extend %secondary-text;
  font-size: 32px;
  line-height: 38px;
  @media screen and (max-width: 839px) {
    font-size: 24px;
    line-height: 30px;
  }
}

.blog-secondary-news {
  max-width: 567px;
  width: 100%;
  height: 500px;
  display: block;
  @media screen and (max-width: 839px) {
    width: 100%;
    height: auto;
  }

  button {
    display: block;
    max-width: 567px;
    width: 100%;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;

    @media screen and (max-width: 839px) {
      margin-top: 40px;
      min-width: 355px;
    }
  }
}

.secondary-news-list {
  @extend %list;

  .item {
    display: flex;
    max-width: 567px;
    width: 100%;
    padding: 15px;
    @media screen and (max-width: 839px) {
      min-width: 355px;
      height: 95px;
      padding: 0;
      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }
  }
  .item:hover,
  .item:focus {
    background-color: #f2efec;
  }

  img {
    margin-right: 20px;
  }

  .news-text-content {
    span {
      display: block;
    }
    @extend %secondary-text;
    font-size: 20px;
    line-height: 26px;
    @media screen and (max-width: 839px) {
      font-size: 14px;
      line-height: 20px;
    }

    .date {
      margin-bottom: 10px;
      @extend %main-text;
      font-size: 12px;
      line-height: 18px;
      letter-spacing: 0.01em;
    }
  }
}
.button {
  @extend %button;
}
