.hero {
  margin-bottom: 50px;
}
.hero-bg {
  max-width: 1360px;
  height: 470px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(../img/main_banner.jpg);
  @extend %bg-image;
  position: relative;
  margin-bottom: 120px;
}

.hero-sell {
  width: 385px;
  height: 290px;
  background-color: #fff;
  position: absolute;
  left: 60px;
  top: 95px;
  padding: 40px;

  color: #28292f;
  font-style: normal;
  font-weight: normal;

  h1 {
    @extend %main-text;
    font-size: 12px;
    line-height: 16px;

    letter-spacing: 0.03em;

    margin: 0;
    margin-bottom: 10px;
  }
  h2 {
    @extend %secondary-text;
    font-size: 32px;
    line-height: 38px;
    margin: 0;
    margin-bottom: 25px;
  }
  span {
    @extend %main-text;

    font-size: 12px;
    line-height: 18px;

    text-align: center;
    letter-spacing: 0.01em;
    margin: 0;
  }

  .button {
    @extend %button;
  }
}

.idea-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  padding-left: 20px;
  padding-right: 20px;
  .item:not(:last-child) {
    margin-right: 20px;
  }

  @extend %list;
  .link {
    @extend %secondary-text;
    @extend %link;
    color: #858791;
  }

  .sqad-icon {
    vertical-align: middle;
  }
  .link:hover,
  .link:focus {
    color: black;
  }
}
