.hero {
  margin-bottom: 40px;
  @media screen and (min-width: $desktop) {
    margin-bottom: 50px;
  }
}
.hero-bg {
  max-width: 376px;
  height: 420px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(../img/main_banner.jpg);
  @extend %bg-image;
  position: relative;
  margin-bottom: 60px;
  @media screen and (min-width: $desktop) {
    max-width: 1360px;
    height: 470px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 120px;
  }
}

.hero-sell {
  width: 335px;
  height: 229px;
  background-color: #fff;
  position: absolute;
  left: 20px;
  bottom: 20px;
  padding: 30px;

  color: #28292f;
  font-style: normal;
  font-weight: normal;
  text-align: center;
  @media screen and (min-width: $desktop) {
    width: 385px;
    height: 290px;
    padding: 40px;
    left: 60px;
    top: 95px;
  }
  h1 {
    @extend %main-text;
    font-size: 12px;
    line-height: 16px;

    letter-spacing: 0.03em;

    margin: 0;
    margin-bottom: 5px;

    @media screen and (min-width: $desktop) {
      margin-bottom: 10px;
    }
  }
  h2 {
    @extend %secondary-text;
    font-size: 32px;
    line-height: 38px;
    margin: 0;
    margin-bottom: 10px;
    @media screen and (min-width: $desktop) {
      margin-bottom: 25px;
    }
  }
  span {
    @extend %main-text;

    font-size: 12px;
    line-height: 18px;

    text-align: center;
    letter-spacing: 0.01em;
    margin: 0;
  }

  .button {
    margin-top: 10px;
    @extend %button;
  }
}

.idea-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  padding-left: 20px;
  padding-right: 20px;

  .item {
    @media screen and (max-width: 839px) {
      text-align: center;
    }
  }
  .item:not(:last-child) {
    margin-right: 20px;
    @media screen and (max-width: 839px) {
      margin: 0;
    }
  }

  @extend %list;
  .link {
    @extend %secondary-text;
    @extend %link;
    color: #858791;
  }

  .sqad-icon {
    vertical-align: middle;
  }
  .link:hover,
  .link:focus {
    color: black;
  }
}

.idea-list.desktop {
  @media screen and (max-width: 839px) {
    display: none;
  }
}
.idea-list.mobile {
  @media screen and (min-width: $desktop) {
    display: none;
  }

  .owl-prev i,
  .owl-next i {
    color: black;
  }
  .owl-prev,
  .owl-next {
    position: absolute;
    top: 50%;
    margin-top: -20px;
  }
  .owl-prev {
    left: 60px;
  }
  .owl-next {
    right: 60px;
  }
}
