.personal-offer {
  max-width: 1360px;
  height: 500px;
  background-color: #aeece2;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-evenly;
  // padding: 78px 776px 79px 214px;
  position: relative;
  margin-bottom: 130px;
  @media screen and (max-width: 839px) {
    max-width: 375px;
    height: 424px;
    padding: 40px 40px 50px 40px;
  }
}

.personal-offer_content {
  width: 370px;
  height: 345px;
  text-align: center;
  @media screen and (max-width: 839px) {
    width: 295px;
    height: 334px;
  }

  h1 {
    @extend %secondary-text;
    font-size: 40px;
    line-height: 46px;
    margin-top: 25px;
    margin-bottom: 0;
    @media screen and (max-width: 839px) {
      font-size: 32px;
      line-height: 38px;
      margin-top: 30px;
      margin-bottom: 30px;
    }
  }
  span {
    @extend %main-text;
    font-size: 14px;
    line-height: 20px;

    text-align: center;
    margin-top: 20px;
    display: block;
    @media screen and (max-width: 839px) {
      margin-bottom: 30px;
      margin-top: 0;
    }
  }
  button {
    @extend %button;
    margin-top: 30px;
    background-color: $accent-color;
    color: white;
    @media screen and (max-width: 839px) {
      margin-top: 0;
    }
  }
  button:hover,
  button:focus {
    background-color: white;
    color: $accent-color;
  }
}

.personal-offer_image {
  // position: absolute;
  // top: 0;
  // right: 10%;
  @media screen and (max-width: 839px) {
    display: none;
  }
}
