body {
  background-color: $white-color;
  color: $primary-color;
  letter-spacing: 0.01em;
  font-family: $main-font;
}
.container {
  margin-left: auto;
  margin-right: auto;

  outline: 2px solid skyblue;
  @media screen and (min-width: $mobile) {
    max-width: 480px;
  }

  @media screen and (min-width: $desktop) {
    min-width: 100%;
  }
}
.section {
  margin-left: auto;
  margin-right: auto;
  // padding-left: 20px;
  // padding-right: 20px;
}

img {
  display: block;
  height: auto;
}
.button:focus,
.button:hover {
  color: $accent-color;
}
