%list {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

%link {
  text-decoration: none;
  &:hover,
  :focus {
    color: $accent-color;
  }
}

%button {
  cursor: pointer;
  font-family: Open Sans;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 18px;
  width: 166px;
  height: 40px;
  vertical-align: middle;
  margin-top: 25px;
  background-color: #fff;
  border: 1px solid #efeded;
  border-radius: 2px;
}

%bg-image {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

%main-text {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
}

%secondary-text {
  font-family: Prata;
  font-style: normal;
  font-weight: normal;
}

// @extend %secondary-text;
// @extend %main-text;
// @extend %bg-image;
