%invisible-title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

%list {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

%link {
  text-decoration: none;
}

%button {
  cursor: pointer;
  font-family: Open Sans;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 18px;

  width: 166px;
  height: 40px;
  vertical-align: middle;

  margin-top: 25px;

  background-color: #fff;
  border: 1px solid #efeded;

  border-radius: 2px;
}
